packages:
  yum:
    mod_ssl: []
container_commands:
  add-SSLCertificateFile-label:
    command: cp .ebextensions/aws_public.pem /home/ec2-user/SSLCertificateFile.crt/aws_public.pem

  add-SSLCertificateKeyFile-label:
    command: cp .ebextensions/ssl_privatekey.pem /home/ec2-user/SSLCertificateKeyFile.key/ssl_privatekey.pem

  add-SSLCertificateChainFile-label:
    command: cp .ebextensions/aws_chain.pem /home/ec2-user/SSLCertificateChainFile.crt/aws_chain.pem

  replace-ssl-configuration-label:
    command: cp .ebextensions/ssl.conf /etc/httpd/conf.d/ssl.conf